.cardContainer {
  min-width: 300px;
  margin-bottom: 8px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;

  svg {
    cursor: pointer;
    margin-left: 12px;
  }
}

.infoContainer {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.modalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e8fdfd;
  padding: 16px;
  border-radius: 4px;
}
