.requestsContiner {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: inherit;

  .headerContiner {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  .sortContainer {
    display: flex;
    gap: 8px;
    cursor: pointer;
  }
  
  .listContainer {
    flex: 1;
    overflow: auto;
  }
}
