.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 620px;
  max-height: inherit;

  .headerContiner {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  .requestsContiner {
    flex: 1;
    overflow: auto;
    
    .requests {
      display: flex;
      max-height: 185px;
      gap: 24px;
      justify-content: space-between;
      margin-bottom: 8px;
    }
  
    .oppRequestsContainer {
      overflow: auto;
    }
  }
}
